a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/*------------------- Skip link-------------------- */

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* ---------------------------------- */
:root {
    --primaryColor: #ca8300;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainWrapper: 1280px;
}

html {
    font-size: 125%;
    font-family: 'Montserrat';
    /* text-transform: uppercase; */
}

body {
    margin: 0;
    padding: 0;
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: --mainWrapper;
    margin: 0 auto;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex; /*to align the child in center*/
  align-items: center;
  background: var(--primaryColor);
  z-index: 1;
}
.navbarCenter {
  width: 100%;
  max-width: var(--mainWrapper);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .75rem;
}
.navIcon {
  font-size: 1.2rem;
}
.cartBtn {
  position: relative;
  cursor: pointer;
}
.cartItems {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--mainWhite);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--primaryColor);
}
/* --------------- End of Navbar ---------------- */

/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/heroImg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 1.2rem;
}
.bannerTitle {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.5rem;
}
.bannerBtn {
  padding: .8rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: .8rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.bannerBtn:hover {
  background: transparent;
  color: var(--primaryColor);
}
/* --------------- End of Hero ---------------- */

/* --------------- Products ---------------- */

.products {
  padding: 2rem 0;
}
.sectionTitle h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.productsCenter {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--mainWrapper);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4, 1fr)); */

  grid-column-gap: .75rem;
  grid-row-gap: 1rem;
}
.imgContainer {
  position: relative;
  overflow: hidden;
}
.bagBtn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.3rem 0.4rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bagBtn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.3rem;
}
.imgContainer:hover .bagBtn {
  transform: translateX(0);
}
.productImg {
  display: block;
  width: 100%;
  min-height: 6rem;
  transition: var(--mainTransition);
}
.imgContainer:hover .productImg {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: .8rem;
  margin-top: .5rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.product h4 {
  margin-top: 0.4rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}

/* ---------------End of Products ---------------- */

/* --------------- Cart ---------------- */
.cartOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.closeCart {
  font-size: 1.2rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.5rem;
}
/*---------- Cart Item -------------------- */
.cartItem {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1rem;
  margin: 1rem 0;
}
.cartItem img {
  width: 75px;
  height: 75px;
}
.cartItem h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cartItem h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.itemAmount {
  text-align: center;
}
.removeItem {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cartFooter {
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cartFooter h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
